<section class="create-recipe">
    <form action="/createrecipe"  enctype="multipart/form-data" method="POST">
        <h2>Crea tu receta!</h2>
        {{!-- <img src="/images/form-recetas.jpg" alt=""> --}}
        <label for="name">Nombre</label>
        <input type="name" name="name" placeholder="Introduce nombre">
        
        <label for="name">Instructions</label>
        <textarea type="name" name="instructions" cols="40" rows="10" placeholder="Introduce instrucciones"></textarea>

        <label for="name">Tipo cocina</label>
        <select name="cuisine">
            <option value="Espa침ola">Espa침ola</option> 
            <option value="Americana">Americana</option>
            <option value="Argentina">Argentina</option>
            <option value="Catalana">Catalana</option>
        </select>

        <label for="name">Ingredientes</label>
        {{!-- <input type="text" name="ingredients" placeholder="Ingredientes"> --}}
        <textarea type="text" name="ingredients" cols="40" rows="10" placeholder="A침ade ingredientes"></textarea>

        <label for="name">Image</label>
        <input type="file" name="photo" placeholder="Introduce imagen">

        <label for="name">Comensales</label>
        <input type="name" name="diners" placeholder="Cu치ntos comensales?">
        <button>Create recipe</button>
    </form>
</section>

<button><a href="/dashboard">Regresa a tu Dashboard</a></button>