<h1>CREATE RECIPES</h1>

{{!-- {{#if currentUserInfo}} --}}
<div class="/create-recipe">
    <form action="/createrecipe" method="POST">
        <h2>Create recipes</h2>
        <label for="name">Nombre</label>
        <input type="name" name="name" placeholder="Introduce nombre">

        <label for="name">Ingredientes</label>
        <input type="name" name="name" placeholder="Selecciona ingredientes">

        <label for="name" class="instrucciones-receta">Instructions</label>
        <input type="name" name="name" placeholder="Introduce instrucciones">

        <label for="name">Tipo cocina</label>
        <input type="name" name="name" placeholder="Tipo de cocina...">

        <label for="name">Image</label>
        <input type="name" name="name" placeholder="Introduce URL de imagen">

        <label for="name">Comensales</label>
        <input type="name" name="name" placeholder="Cuántos comensales?">
        <button>Create recipe</button>
    </form>
</div>
{{!-- {{/if}} --}}

<button><a href="/dashboard">Regresa a tu Dashboard</a></button>