<section class="create-recipe">
    <form action="/createrecipe"  enctype="multipart/form-data" method="POST">
        <h2>¡Crea tu receta!</h2>
        <label for="name">Nombre</label>
        <input type="name" name="name" placeholder="  Introduce nombre">
        
        <label for="name">Instrucciones</label>
        <textarea type="name" name="instructions" cols="30" rows="4" placeholder=" Introduce instrucciones"></textarea>

        <label for="name">Tipo cocina</label>
        <select name="cuisine">
            <option value="Española">Española</option> 
            <option value="Japonesa">Japonesa</option>
            <option value="Argentina">Argentina</option>
            <option value="Catalana">Catalana</option>
            <option value="Italiana">Italiana</option>
            <option value="Mexicana">Mexicana</option>
            <option value="Americana">Americana</option>
        </select>

        <label for="name">Tipo plato</label>
        <select name="typefood">
            <option value="Entrantes">Entrantes</option> 
            <option value="Primero">Primero</option>
            <option value="Segundo">Segundo</option>
            <option value="Postre">Postre</option>
        </select>

        <label for="name">Ingredientes</label>
        <textarea type="text " name="ingredients" cols="30" rows="4" placeholder=" Añade ingredientes"></textarea>

        <label for="name">Imagen</label>
        <input class="img-button" type="file" name="photo" placeholder="Selecciona imagen">

        <label for="name">Comensales</label>
        <input type="name" name="diners" placeholder="  Número de comensales.">
        <button>Crea tu receta</button>
        
        {{!-- <button><a href="/dashboard">Regresa a tu Dashboard</a></button> --}}
    </form>
</section>

