<h1>CREATE RECIPES</h1>

{{!-- {{#if currentUserInfo}} --}}
<div class="/create-recipe">
    <form action="/createrecipe" method="POST">
        <h2>Create recipes</h2>
        <label for="name">Nombre</label>
        <input type="name" name="name" placeholder="Introduce nombre">
        
        <label for="name" class="instrucciones-receta">Instructions</label>
        <input type="name" name="instructions" placeholder="Introduce instrucciones">

        <label for="name">Tipo cocina</label>
        <input type="name" name="cuisine" placeholder="Tipo de cocina...">

        <label for="name">Ingredientes</label>
        <input type="text" name="ingredients" placeholder="Ingredientes">

        <label for="photo">Image</label>
        <input type="file" name="photo" placeholder="Selecciona archivo...">

        <label for="name">Comensales</label>
        <input type="name" name="diners" placeholder="Cuántos comensales?">
        <button>Create recipe</button>
    </form>
</div>

<button><a href="/dashboard">Regresa a tu Dashboard</a></button>