
<section class="background-dashboard">
    <section class="new-recipes-dashboard">
        <p>Bienvenido  {{theUser.name}}</p>
        <div>  
            <img src={{theUser.image}} alt="Image Error">
        </div>
        <div>
            <button type="button" class="btn btn-primary"><a href="{{theUser._id}}/editprofile">Editar Perfil</a></button>
            
        </div>
    </section>

    <section class="create-dashboard">
        <h2>Añade tus recetas!!</h2>
        <div>
            <p>Crea tus recetas y compartelas con la comunidad! Cuantos más seamos, mejor!</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary"><a href="/createrecipe">Crear...</a></button>
        </div>
    </section>
</section>