<h1>DASHBOARD PAGE</h1>

<section class="new-recipes-dashboard">
    <div>
        <h2>Tu perfil</h2>
        <p>Nombre</p>
        <img src="" alt="">
        <p>Tu puntuaci칩n actual es: </p>
    </div>
</section>

<section class="dashboard-favourite">
    <div>
        <h2>Tus recetas favoritas</h2>
        <p>Crea tus recetas y compartelas con la comunidad! Cuantos m치s seamos, mejor!</p>
    </div>
</section>

<section class="create-dashboard">
    <div>
        <h2>A침ade tus recetas!!</h2>
        <p>Crea tus recetas y compartelas con la comunidad! Cuantos m치s seamos, mejor!</p>
        <button><a href="/createrecipe">Crear...</a></button>
    </div>
</section>