
<section class="new-recipes-dashboard">
    <div>
        <p class="text-dashboard">Bienvenido {{theUser.name}}</p>
    </div>
    <div>
        <img class="image-dashboard" src={{theUser.image}} alt="Image Error">
    </div>
    <div>
        <a href="{{theUser._id}}/editprofile">Editar Perfil</a>
    </div>
</section>

<section class="create-dashboard">
    <div>
        <p class="text-dashboard">Crea tus recetas y compartelas con la comunidad!</p>
        <button class="dashboard-button"><a href="/createrecipe">Crea una nueva receta</a></button>
    </div>
</section>