<h1>EDIT PROFILE PAGE</h1>

<section class="profile-edit">
    <div>
        <h2>Nombre: {{userProfile.name}}</h2>
        <img src={{userProfile.image}} alt="">
        <form action="editprofile" enctype="multipart/form-data" method = "POST">
            <label for = "name">Imagen</label>
            <input type = "file" name = "photo" id = "image" value="{{ userProfile.image }}">
            <label for = "name"> Nombre </label>
            <input type = "text" name = "name" id = "name" value="{{ userProfile.name }}">   
            <button>Envia</button>
        </form>
    </div>

</section>