<div id="about-main">
    <div class="jumbotron">
        <div class="jumbotron-inner">
            <div class="top-box">
                <div class="content-box">
                    <h1>
                        About IRONCHEFF
                    </h1>
                    <p>
                        <b>IronCheff, la plataforma de recetas de cocina <br /> Nuestra misión es crear una comunidad
                            activa, apasionada por la cultura culinaria y con ganas de compartir todo el conocimiento
                            que poseen nuestros usuarios para hacer de IronCheff la mayor comunidad de cocina de la
                            Web</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="story-container">
        <div class="need-for-dx-container">
            <h3 class="text-center">
                Los tres mosqueteros
            </h3>
            <p>
                El proyecto de IronCheff nace de la idea de crear en un mismo entorno Web, una plataforma donde
                compartir recetas, consultarlas y poder crear una gran comunidad de "cocinillas" que compartan la misma
                pasión que sus creadores: la gastronomía. Como amantes de la buena cocina, creíamos necesario impulsar
                este proyecto que nos tocó realizar en el Bootcamp de IronHack, para a posteriori; seguir dándole
                soporte y poder formar una gran comunidad que comparta nuestra misma pasión.
            </p>
            <div class="img-container">
            <img src="https://apimatic.io/img/theme/aboutUs/dxFlow.svg" alt="apimatic developer experience process"
                    class="img-responsive" />
        </div>
    </div>
        <div class="container-divider"></div>
        <div class="our-tech-container">
            <h3 class="text-center">
                Heramientas utilizadas
            </h3>
            <p>
                Para poder programar esta web y aprender todos los conocimientos necesarios, nos hemos surtido de una
                serie de herramientas que a la par que útiles, han resultado ser esenciales a la hora de conseguir el
                resultado final de la Web. Trabajamos con base de datos no relacionales (MONGOOSEDB), utilizamos NodeJS,
                un entorno de tiempo de ejecución de JavaScript. Este entorno de tiempo de ejecución en tiempo real
                incluye todo lo que se necesita para ejecutar un programa escrito en JavaScript. También aporta muchos
                beneficios y soluciona muchísimos problemas, por lo que es más que interesante para obtener las bases,
                conceptos y habilidades necesarias que hemos aprendido. Evidentemente, todo esto lo completamos con
                Express, ya que es el framework web más popular de Node, y es la librería subyacente para un gran número
                de otros frameworks web de Node populares.
            </p>
            <div class="img-container">
                <img src="https://apimatic.io/img/theme/cgaasIcons/cgaasProcess.gif"
                    alt="apimatic code generation engine" class="img-responsive" />
            </div>
        </div>
    </div>
</div>