<div id="about-main">
        <div class="jumbotron">
            <div class="jumbotron-inner">
                <div class="top-box">
                    <div class="content-box">
                        <h1>
                            About IRONCHEFF
                        </h1>
                        <p>
                            IronCheff, la plataforma de recetas de cocina <br /> Nuestra misión es crear una comunidad activa, apasionada por la cultura culinaria y con ganas de compartir todo el conocimiento que poseen nuestros usuarios para hacer de IronCheff la mayor comunidad de cocina de la Web
                        </p>
                    </div>
                </div>
            </div>
            <div class="img-layer-container">
                <div class="team-image" id="team-image">
                    <img src="https://apimatic.io/img/theme/aboutUs/images-1.png" />
                </div>

                <div class="circles-container">
                    <div class="img-1">
                        <img src="https://apimatic.io/img/theme/aboutUs/Circles-1-1.svg" />                        
                    </div>
                    <div class="img-2">
                        <img src="https://apimatic.io/img/theme/aboutUs/Circles-2-1.svg" />                        
                    </div>                    
                </div>           
            </div>
        </div>
        <div class="story-container">
            <div class="need-for-dx-container">
                <h3 class="text-center">
                    Los tres mosqueteros
                </h3>
                <p>
                    El proyecto de IronCheff nace de la idea de crear en un mismo entorno Web, una plataforma donde compartir recetas, consultarlas y poder crear una gran comunidad de "cocinillas" que compartan la misma pasión que sus creadores: la gastronomía. Como amantes de la buena cocina, creíamos necesario impulsar este proyecto que nos tocó realizar en el Bootcamp de IronHack, para a posteriori; seguir dándole soporte y poder formar una gran comunidad que comparta nuestra misma pasión.  
                </p>
                <div class="img-container">
                    <img src="https://apimatic.io/img/theme/aboutUs/dxFlow.svg" alt="apimatic developer experience process" class="img-responsive"/>
                </div>
            </div>
            <div class="container-divider"></div>
            <div class="our-tech-container">
                <h3 class="text-center">
                    Heramientas utilizadas
                </h3>
                <p>
                    Para poder programar esta web y aprender todos los conocimientos necesarios, nos hemos surtido de una serie de herramientas que a la par que útiles, han resultado ser esenciales a la hora de conseguir el resultado final de la Web. Trabajamos con base de datos no relacionales (MONGOOSEDB), utilizamos NodeJS, un entorno de tiempo de ejecución de JavaScript. Este entorno de tiempo de ejecución en tiempo real incluye todo lo que se necesita para ejecutar un programa escrito en JavaScript. También aporta muchos beneficios y soluciona muchísimos problemas, por lo que es más que interesante para obtener las bases, conceptos y habilidades necesarias que hemos aprendido. Evidentemente, todo esto lo completamos con Express, ya que es el framework web más popular de Node, y es la librería subyacente para un gran número de otros frameworks web de Node populares.
                </p>
                <div class="img-container">
                    <img src="https://apimatic.io/img/theme/cgaasIcons/cgaasProcess.gif" alt="apimatic code generation engine" class="img-responsive"/>
                </div>
            </div>
            <div class="container-divider"></div>
            <div class="origin-story-container">
                <h3 class="text-center">
                    Origin Story
                </h3>
                <p>
                    While doing research work for their PhDs from the University of Auckland in 2014, our founders came across one of the API industry's pain points: SDKs. They realized that API providers who spent hundreds of thousands of dollars every year on improving developer experience, by providing SDKs and user-friendly documentation were able to reach a wider developer audience for their APIs compared to API providers who weren't able to do so.
                </p>
                <p>
                    It was so clear that even though writing SDKs and documentation was a difficult and expensive task, it followed repeatable patterns which could be defined as logic blocks in a code generation engine. So, as a research project, they started working on a code generation engine which dynamically generated SDKs using API description as input.
                </p>
                <p>
                    After a rigorous journey, this research project was selected as a candidate for commercialization by Return on Science (a NZ national research commercialization program focused on bringing new academic research to market) and the concept was transformed into a product i.e. APIMatic.
                </p>
            </div>
            <div class="container-divider"></div>
            <div class="today-container">
                <h3 class="text-center">
                    Flash Forward Today
                </h3>
                <p>
                    APIMatic has come a long way since its inception 3 years ago. Having started with only generating SDKs, APIMatic now provides solutions in other areas of developer experience as well. Presently, APIMatic is used by numerous organizations around the world to:
                </p>
                <ul>
                    <li>Create and store definitions of their APIs</li>
                    <li>Generate SDKs for their APIs for 10 platforms</li>
                    <li>Keep these SDKs in sync with API updates</li>
                    <li>Convert API descriptions into multiple formats (Swagger, API Blueprint, RAML etc.)</li>
                    <li>Generate beautiful documentation for their APIs and SDKs</li>
                    <li>Generate complete Developer Experience API Portals</li>
                </ul>
            </div>
            <div class="container-divider"></div>
        </div>
    </div>  