<section class="homesection1">
    
    <h1>Iron Cheff</h1>

</section>

<section class="homesection2">
    <div>
        <h2>Ultimas recetas añadidas</h2>
        <a href="/recipes">Ve a recetas</a>
    </div>
</section>

<section class="homesection3">
    <div>
        <h2>Ve a tu Dashboard</h2>
    </div>
</section>

<section class="homesection4">
    <div>
        <h2>Cocina Española</h2>
    </div>

    <div>
        <h2>Cocina Catalana</h2>
    </div>

    <div>
        <h2>Cocina Cubana</h2>
    </div>

    <div>
        <h2>Cocina Americana</h2>
    </div>

</section>


