<section class="homesection1">
    <div class="homediv1">
        <h1>Iron Cheff</h1>
        <p><b>Binvenido a IronCheff!!!</b></p>
        <p><b>El lugar para compartir, crear y encontrar recetas por tipo de cocina, comensales, tipo...</b></p>
        <div>
            <button type="button" class="btn btn-primary"><a href="/recipes">Ve a nuestras recetas!</a></button>
        </div>
    </div>
</section>

<section>
    <div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <a href="/recipes/Española"><img src="https://lh3.googleusercontent.com/proxy/bSCrK-qO7BikJ-pzfES2xpMN3pvNQiyqxdHC6-CNwR0t6VqVR5IxJANwf37oJ65mkQqZCf4G82UA_iwsJaFJYifnotwwIAPKWblry_nPRSWn3f_tHb0"></a>
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <a href="/recipes/Catalana"><img src="https://estag.fimagenes.com/img/2/2/m/j/s/2mjs_900.jpg"></a>
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <a href="/recipes/Argentina"><img src="https://www.recetas-argentinas.com/base/stock/Post/2-image/2-image_web.jpg"></a>
        </div>
        <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <a href="/recipes/Japonesa"><img src="https://res.cloudinary.com/dmkhzosvq/image/upload/v1604485513/recipes/japonesa_b8qk93.png"></a>
        </div>
        <label for="carousel-4" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-4" class="carousel-control next control-3">›</label>
        <label for="carousel-3" class="carousel-control prev control-4">‹</label>
        <label for="carousel-1" class="carousel-control next control-4">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-4" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>
</section>

<section class="homesection2">
    <div>
        <h2>Ultimas recetas añadidas</h2>
        <a href="/recipes">Ve a recetas</a>
    </div>
</section>

<section class="homesection3">
    <div>
        <h2>Crea tus recetas</h2>
    </div>
</section>

    {{!-- <div>
        <h2>Cocina Española</h2>
        <a href="/recipes/Española">Española</a>
    </div>

    <div>
        <h2>Cocina Catalana</h2>
        <a href="/recipes/Catalana"></a>
    </div>

    <div>
        <h2>Cocina Argentina</h2>
        <a href="/recipes/Argentina">Argentina</a>
    </div>

    <div>
        <h2>Cocina Americana</h2>
        <a href="/recipes/Americana">Americana</a>
    </div> --}}


