<section class="homesection1">
    
    <h1>Iron Cheff</h1>

</section>

<section class="homesection2">
    <div>
        <h2>Ultimas recetas añadidas</h2>
        <a href="/recipes">Ve a recetas</a>
    </div>
</section>

<section class="homesection3">
    <div>
        <h2>Ve a tu Dashboard</h2>
    </div>
</section>

<section>
    <div class="carousel">
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/0079D8/fff/?text=Without">
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/DA5930/fff/?text=JavaScript">
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="http://fakeimg.pl/2000x800/F90/fff/?text=Carousel">
        </div>
        <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="https://ep01.epimg.net/elpais/imagenes/2019/10/30/album/1572424649_614672_1572453030_noticia_normal.jpg">
        </div>
        <label for="carousel-4" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-4" class="carousel-control next control-2">›</label>
        <label for="carousel-3" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        <label for="carousel-4" class="carousel-control prev control-4">‹</label>
        <label for="carousel-1" class="carousel-control next control-4">›</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-4" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>
</section>

    {{!-- <div>
        <h2>Cocina Española</h2>
        <a href="/recipes/Española">Española</a>
    </div>

    <div>
        <h2>Cocina Catalana</h2>
        <a href="/recipes/Catalana"></a>
    </div>

    <div>
        <h2>Cocina Argentina</h2>
        <a href="/recipes/Argentina">Argentina</a>
    </div>

    <div>
        <h2>Cocina Americana</h2>
        <a href="/recipes/Americana">Americana</a>
    </div> --}}


