<section class="homesection1">
    
    <h1>Iron Cheff</h1>

</section>

<section class="homesection2">
    <div>
        <h2>Ultimas recetas a単adidas</h2>
        <a href="/recipes">Ve a recetas</a>
    </div>
</section>

<section class="homesection3">
    <div>
        <h2>Ve a tu Dashboard</h2>
    </div>
</section>

<section class="homesection4">
    <div>
        <h2>Cocina Espa単ola</h2>
        <a href="/recipes/Espa単ola">Espa単ola</a>
    </div>

    <div>
        <h2>Cocina Catalana</h2>
        <a href="/recipes/Catalana"></a>
    </div>

    <div>
        <h2>Cocina Argentina</h2>
        <a href="/recipes/Argentina">Argentina</a>
    </div>

    <div>
        <h2>Cocina Americana</h2>
        <a href="/recipes/Americana">Americana</a>
    </div>

</section>


