<section class="homesection1">
    <div class="homediv1">
        <h1>Iron Cheff</h1>
        <p><b>El lugar para compartir, crear y encontrar recetas por tipo de cocina, comensales, tipo...</b></p>
        <div>
            <button type="button" class="btn btn-primary"><a href="/recipes">Ve a nuestras recetas!</a></button>
            <button type="button" class="btn btn-primary"><a href="/createrecipe">Crea tus recetas!</a></button>
        </div>
    </div>
</section>

    <section class="page-content">
    <div class="card">
        <div class="content">
            <h2 class="title">Entrantes</h2>
            <p class="copy">Los mejores entrantes para sorprender a tus comensales!</p>
            <button class="btn"><a href="/recipes/plato/Entrantes">Entrantes</a></button>
            </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Primeros</h2>
            <p class="copy">Primeros platos para satisfacer a los más exigentes</p><button class="btn"><a href="/recipes/plato/Primero">Primeros</a></button></div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Segundos</h2>
            <p class="copy">Los mejores segundos de nuestra web. Entra y disfruta!</p><button class="btn"><a href="/recipes/plato/Segundo">Segundos</a></button></div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Postres</h2>
            <p class="copy">Disfruta de sabrosos postres y realiza los mejores con nosotros!!</p><button class="btn"><a href="/recipes/plato/Postre">Postres</a></button></div>
    </div>
</section>

<section class="sectioncarrousel">
    <div class="container">
	<div class="carousel">
		<input type="radio" id="carousel-1" name="carousel[]" checked>
		<input type="radio" id="carousel-2" name="carousel[]">
        <input type="radio" id="carousel-3" name="carousel[]">
		<input type="radio" id="carousel-4" name="carousel[]">
		<input type="radio" id="carousel-5" name="carousel[]">
		<ul class="carousel__items">
			<a href="/recipes/cuisine/Española"><li class="carousel__item"><img src="https://res.cloudinary.com/dmkhzosvq/image/upload/v1604595833/recipes/opening_a2khkr.jpg" alt=""></li></a>
            <a href="/recipes/cuisine/Japonesa"><li class="carousel__item"><img src="https://res.cloudinary.com/dmkhzosvq/image/upload/v1604599320/recipes/cremacatalana_w5qaol.jpg" alt=""></li></a>
			<a href="/recipes/cuisine/Mexicana"><li class="carousel__item"><img src="https://res.cloudinary.com/dmkhzosvq/image/upload/v1604486134/recipes/argentina_mc7pu7.png" alt=""></li></a>
			<a href="/recipes/cuisine/Catalana"><li class="carousel__item"><img src="//lh5.googleusercontent.com/-gywqIeMvel0/U8-EolKdtkI/AAAAAAAABdM/G0-NHuvvJUU/w1358-h905-no/carousel-4.jpg" alt=""></li></a>
			<a href="/recipes/cuisine/Americana"><li class="carousel__item"><img src="//lh5.googleusercontent.com/--2iANjL3ikc/U8-EoGJ18mI/AAAAAAAABdI/fBe-q3Gos6Y/w1358-h905-no/carousel-5.jpg" alt=""></li></a>
		</ul>
       
     <div class="carousel__prev">
     	<label for="carousel-1"></label>
     	<label for="carousel-2"></label>
     	<label for="carousel-3"></label>
     	<label for="carousel-4"></label>
     	<label for="carousel-5"></label>
     </div>
     <div class="carousel__next">
       <label for="carousel-1"></label>
       <label for="carousel-2"></label>
       <label for="carousel-3"></label>
       <label for="carousel-4"></label>
       <label for="carousel-5"></label>
     </div>
     <div class="carousel__nav">
       <label for="carousel-1"></label>
       <label for="carousel-2"></label>
       <label for="carousel-3"></label>
       <label for="carousel-4"></label>
       <label for="carousel-5"></label>
     </div>
   </div>
 </div>
</section>
