<section class="homesection1">
    <div class="homediv1">
        <h1>Iron Cheff</h1>
        <p><b>El lugar para compartir, crear y encontrar recetas por tipo de cocina, comensales, tipo...</b></p>
        <div>
            <button type="button" class="btn btn-primary"><a href="/recipes">Ve a nuestras recetas!</a></button>
            <button type="button" class="btn btn-primary"><a href="/createrecipe">Crea tus recetas!</a></button>
        </div>
    </div>
</section>

    <section class="page-content">
    <div class="card">
        <div class="content">
            <h2 class="title">Entrantes</h2>
            <p class="copy">Los mejores entrantes para sorprender a tus comensales!</p>
            <button class="btn"><a href="/recipes/plato/Entrantes">Entrantes</a></button>
            </div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Primeros</h2>
            <p class="copy">Primeros platos para satisfacer a los más exigentes</p><button class="btn"><a href="/recipes/plato/Primero">Primeros</a></button></div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Segundos</h2>
            <p class="copy">Los mejores segundos de nuestra web. Entra y disfruta!</p><button class="btn"><a href="/recipes/plato/Segundo">Segundos</a></button></div>
    </div>
    <div class="card">
        <div class="content">
            <h2 class="title">Postres</h2>
            <p class="copy">Disfruta de sabrosos postres y realiza los mejores con nosotros!!</p><button class="btn"><a href="/recipes/plato/Postre">Postres</a></button></div>
    </div>
</section>