 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a href="/">Iron Cheff</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="#" target="_blank">Another Link</a>
    <a href="#" target="_blank">Hall of fame</a>
    <a href="#" target="_blank">Recipes</a>
    {{#unless user}}
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
    {{/unless}}
  </div>
</div>

  {{{body}}}

  <script src="javascripts/navbar.js"></script>
</body>
</html>