/* NAVBAR STYLE */
*{
  margin: 0;
  padding: 0;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
.nav {
    height: 50px;
    width: 100%;
    background-color: #495464;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 2px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }

  
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {

    .nav-logo{
      display: block;
      width: 100%;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #495464;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > .nav-links > img {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .nav-logo img {
    width: 50px;
    height: 50px;
    margin-top: 0;
  }
/* FIN STYLE NAVBAR */

.homesection1{
  width: 100%;
  height: 500px;
  background-image: url("https://static2.elcorreo.com/www/multimedia/201901/10/media/cortadas/aplicaciones-aprender-cocinar-2019-U601036856160UwB-U70203477799ehH-624x385@El%20Correo-ElCorreo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
}

.homesection1 h1{
  font-size: 40px;
  color: white;
  text-align: center;
}


/* Login */

.section-login {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-login form{
  border: 1px solid grey;
  padding: 30px;
  border-radius: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.form-login form h2 {
  margin: 20px;
  font-size: xx-large;

}

.form-login form label {
  margin: 10px;
}

.form-login form input {
  border: none;
  border-bottom: 2px solid aquamarine;
  
  margin: 10px;
}

.form-login form button {
  background-color: aquamarine;
  border: 1px solid aquamarine;
  padding: 5px 10px;
  margin: 10px;
}

/* PAGINA DE CREAR RECETAS */

.create-recipe form{
  border: 1px solid grey;
  padding: 30px;
  border-radius: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.create-recipe input{
  width: auto;
  height: 20px;
  margin: 5px;
}

.section1-recetas{
  width: 100%;
  height: 400px;
  background-image: url('/images/fonderecetas1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section1-recetas div{
  align-items: center;
  text-align: center;
  padding-top: 130px;
  color: white;
}

.instrucciones-receta{
  width: auto;
  height: fit-content;
}

.section-recetas{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
}

.div-recetas{
  margin: 10px;
  width: 340px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 10px;
}

.div-recetas2{
  display: flex;
  flex-direction: column;
}

.div-recetas img{
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* /////////////////SHOW PAGE STYLES////////////// */

.div-buttons-details a{
  width: 80px;
  height: 30px;
  background-color: blue;
  text-align: center;
  border-radius: 10px;
  float: right;
  text-decoration: none;
  color: white;
  margin: 15px;
}

.details-recipe{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  align-content: space-around;
  padding: 10px;
}

.showimage img{
  width: 500px;
  height: 500px;
}

.details-card{
width: 100%;
margin: 5px;
}

.div-details{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 10px;
}

@media(min-width: 1070px){
  .details-recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  };
  .showimage img{
    padding: 5px;
  }
  .details-card{
    width: 40%;
    margin: 5px;
    border-left: 1px solid grey;
  };
  .div-buttons-details a{
    width: 80px;
    height: 30px;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    color: white;
  }
};

/* ////////////////END SHOW PAGE STYLES////////////// */
