/* BOOTSTRAP STYLES */

.btn {
  margin: 10px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

/* END BOOTSTRAP STYLES */


/* NAVBAR STYLE */
*{
  margin: 0;
  padding: 0;
}

body {
    font-family: 'segoe ui';
  }
  
.nav {
    height: 50px;
    width: 100%;
    background-color: #495464;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 2px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }

  
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {

    .nav-logo{
      display: block;
      width: 100%;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #495464;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > .nav-links > img {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .nav-logo img {
    width: 50px;
    height: 50px;
    margin-top: 0;
  }
/* FIN STYLE NAVBAR */

.homesection1{
  width: 100%;
  height: 500px;
  background-image: url("https://static2.elcorreo.com/www/multimedia/201901/10/media/cortadas/aplicaciones-aprender-cocinar-2019-U601036856160UwB-U70203477799ehH-624x385@El%20Correo-ElCorreo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
}

.homesection1 h1{
  font-size: 40px;
  color: white;
  text-align: center;
}


/* LOGIN & SIGNUP*/

.section-login {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('/images/loginback.png');
  background-position: center;
  background-size: cover;
}

.form-login form{
  width: 280px;
  border: 1px solid grey;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 16px 16px 10px lightgray;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: white;
}

.form-login form h2 {
  margin: 20px;
  font-size: xx-large;

}

.form-login form label {
  margin: 10px;
}

.form-login form input {
  border: none;
  border-bottom: 2px solid aquamarine;
  margin: 10px;
}

.form-login form button {
  background-color: aquamarine;
  border: 1px solid aquamarine;
  padding: 5px 10px;
  margin: 10px;
}

/* END LOGIN & SIGNUP*/

/* PAGINA DE CREAR RECETAS */

.create-recipe form{
  border: 1px solid grey;
  padding: 30px;
  border-radius: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.section1-recetas{
  width: 100%;
  height: 400px;
  background-image: url('/images/fonderecetas1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section1-recetas div{
  align-items: center;
  text-align: center;
  padding-top: 130px;
  color: white;
}

.instrucciones-receta{
  width: auto;
  height: 10em;
}

.section-recetas{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
}

.section-recetas button{
  background-color: teal;
  border: 1px solid teal;
}

.div-recetas{
  background-color: white;
  margin: 10px;
  width: 340px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 10px;
}

.div-recetas2{
  display: flex;
  flex-direction: column;
}

.div-recetas img{
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* /////////////////SHOW PAGE STYLES////////////// */

.div-buttons-details{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  margin: 20px;
}

.details-recipe{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  align-content: space-around;
  padding: 10px;
}

.showimage img{
  width: 500px;
  height: 500px;
}

.details-card{
width: 100%;
margin: 5px;
}

.div-details{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 10px;
}

@media(min-width: 1070px){
  .details-recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  };
  .showimage img{
    padding: 5px;
  }
  .details-card{
    width: 40%;
    margin: 5px;
    border-left: 1px solid grey;
  };
  .div-buttons-details a{
    width: 80px;
    height: 30px;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    color: white;
  }
};

/* ////////////////END SHOW PAGE STYLES////////////// */

/* ///////////////DASHBOARD STYLES/////////////////// */

.dashboard-section{
  width: 100%;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
} /*No eliminar*/

.new-recipes-dashboard{
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  height: 300px;
  background: royalblue;
}

.new-recipes-dashboard img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.dashboard-favourite{
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  height: 300px;
  background-color: seagreen;
}

.create-dashboard{
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  height: 300px;
  background-color: springgreen;
}

/* STYLE EDIT PROFILE PAGE */

.profile-edit img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
}


/* END STYLE EDIT PROFILE PAGE */


/* ////////////////////FOOTER WEB///////////////////// */

/* CSS OF THE FOOTER OF ALL THE PAGES ON THE WEB */
footer {
  max-height: 3000px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
  bottom: 0;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 5px 50px;

}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 40%;
}
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
.footer-distributed h3 span {
  color: #5383d3;
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
  ;
}
.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 55px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  margin-right: 3px;
}
@media (max-width: 880px) {
  .footer-distributed {
      font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
  .main {
      line-height: normal;
      font-size: auto;
  }
}
@media (max-width: 1024px) {
.footer-distributed {
  font: bold 14px sans-serif;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.footer-distributed .footer-center i {
  margin-left: 0;
}
.main {
  line-height: normal;
  font-size: auto;
}
}
/* END OF CSS OF FOOTER *


/* ////////////////////END FOOTER WEB///////////////////// */
