*{
  margin: 0;
  padding: 0;
}


/* BOOTSTRAP STYLES */

.btn a{
  text-decoration: none;
  color: white;
}

.btn {
  margin: 10px;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary a{
  text-decoration: none;
  color: white;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

/* END BOOTSTRAP STYLES */


/* NAVBAR STYLE */

body {
    font-family: 'segoe ui';
  }
  
.nav {
    height: 50px;
    width: 100%;
    background-color: #495464;
    position: relative;
}
  
.nav > .nav-header {
    display: inline;
}
  
.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 2px;
}
  
.nav > .nav-btn {
    display: none;
}
  
.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
  
.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
  
.nav > #nav-check {
  display: none;
}
  
  @media (max-width:600px) {

    .nav-logo{
      display: block;
      width: 100%;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 24px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #495464;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > .nav-links > img {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .nav-logo img {
    width: 50px;
    height: 50px;
    margin-top: 0;
  }
/* FIN STYLE NAVBAR */

/*HOME SECTION*/

.homesection1{
  width: 100%;
  height: 400px;
  background-image: url("https://res.cloudinary.com/dmkhzosvq/image/upload/v1604414386/recipes/tendencias-recetas-destacada_azlvgw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  align-content: center;
}

.homediv1{
  width: auto;
  height: 430px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.homesection1 .bordehome1 .homediv1 h1{
  padding: 20px;
  font-size: 80px;
  color: red;
}

.homesection1 .bordehome1 .homediv1 p{
  font-size: 20px;
}

.bordehome1{
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
}

.homesection1 h1{
  font-size: 40px;
  color: white;
  text-align: center;
}

.homesection2{
  background-color: rebeccapurple;
  width: 100%;
  height: 400px;
}

.homesection3{
  background-color: peru;
  width: 100%;
  height: 400px;
}

.homesection4{
  width: 100%;
  height: 400px;
}

.homediv1 div{
  width: auto;
  height: 60px;
}

@media(min-width: 340px){
  .homesection1{
    min-width: 100%;
    height: 373px;
    background-image: url("https://res.cloudinary.com/dmkhzosvq/image/upload/v1604414386/recipes/tendencias-recetas-destacada_azlvgw.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .homediv1{
    width: auto;
    height: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .homesection1 .homediv1 h1{
    font-size: 50px;
    color: white;
  }

  .homediv1 div{
    width: auto;
    height: 60px;
    float: center;
  }
  
  .homesection1 .homediv1 p{
    font-size: 20px;
    margin-top: 15px;
  }
  .bordehome1{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }
}

/*END HOME SECTION*/

/* CARROUSEL */

.sectioncarrousel {
  background-image: url('https://st2.depositphotos.com/3740491/8238/v/450/depositphotos_82386710-stock-illustration-outline-seamless-pattern-with-hand.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px 0;
}
.container {
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 20px;
}
.carousel {
  background-color: white;
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}
.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}
.carousel__slide {
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  /* vertical-align: top; */
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 100%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-end;
  padding: 20px 20px 0 20px;
  flex: 0 0 auto;
  width: 25%;
  min-width: 150px;
}
.carousel__slide .credit {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}
.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* END CARROUSEL */

/* LOGIN & SIGNUP*/

.section-login {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('/images/loginback.png');
  background-position: center;
  background-size: cover;
}

.form-login form{
  width: 280px;
  border: 1px solid grey;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 16px 16px 10px lightgray;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: white;
  margin: 10px;
}

.form-login form h2 {
  margin: 20px;
  font-size: xx-large;

}

.form-login form label {
  margin: 10px;
}

.form-login form input {
  border: none;
  border-bottom: 2px solid aquamarine;
  margin: 10px;
}

.form-login form button {
  background-color: aquamarine;
  border: 1px solid aquamarine;
  padding: 5px 10px;
  margin: 10px;
}

@media (min-width: 340px){
  .form-login form{
    width: 280px;
    border: 1px solid grey;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 6px 5px lightgray;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: white;
  }
}

/* END LOGIN & SIGNUP*/

/* PAGINA DE CREAR RECETAS */

.create-recipe form{
  width: 280px;
  height: 100%;
  margin-top: -45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
}
.create-recipe {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg');
  background-position: center;
  background-size: cover;
}

.create-recipe h2 {
  font-family: arial;
  width: 250px;
  color: white;
}

.create-recipe label {
  margin: 5px;
  font-family: arial;
  color: white;
}


.create-recipe select {
  margin: 5px;
  font-family: arial;
}
.create-recipe input {
  margin: 5px;
  width: 250px;
  border-radius: 5px;
  font-family: arial;
}

.create-recipe textarea {
  margin: 5px;
  width: 250px;
  border-radius: 10px;
  font-family: arial;
}




.create-recipe .img-button {
  width: 100px;
  height: 30px;
}

 
@media(min-width: 340px){

  .create-recipe form{
    width: 280px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  
  }

  .create-recipe {
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .create-recipe h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
    font-size: 35px;
    color: white;
  }
  
  .create-recipe label {
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 21px;
  }
  
  .create-recipe label {
    margin: 5px;
  }
  
  .create-recipe select {
    margin: 10px;
  }

  .create-recipe input {
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    padding: 5px;
  }
  
  .create-recipe textarea {
    margin: 5px;
    width: 250px;
    border-radius: 10px;
    padding: 5px;
  }
  


  .create-recipe button a  {
    text-decoration: none;
  }
  
  .img-button {
    width: 150px;
    color: whitesmoke;
    border-radius: 5px;
  }
}

/*final creador recestas*/

/* ///////////////// RECIPES PAGE ///////////////// */

.section1-recetas{
  width: 100%;
  height: 400px;
  background-image: url('/images/fonderecetas1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section1-recetas div{
  align-items: center;
  text-align: center;
  padding-top: 130px;
  color: white;
}

.instrucciones-receta{
  width: auto;
  height: 10em;
}

.section-recetas{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
}

.section-recetas button{
  background-color: teal;
  border: 1px solid teal;
}

.div-recetas{
  background-color: white;
  margin: 10px;
  width: 340px;
  height: fit-content;
  border-radius: 10px;
}

.div-recetas2{
  display: flex;
  flex-direction: column;
}

.div-recetas img{
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* STYLE CARD RECIPES PAGE */
/* color variables */
:root {
  --clr-primary: #d50000;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;
 /* border radius */
  --radius: 0.2rem;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cardrecipe {
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--clr-gray200);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card__image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card__title {
  padding: 1rem;
}
.card__description {
  padding: 0 1rem;
}
.card__btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid var(--clr-primary);
  background: transparent;
  color: var(--clr-primary);
  border-radius: var(--radius);
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card__btn a{
  padding: 10px 110px;
}

.cardrecipe:hover {
  transform: scale(1.02);
}
.cardrecipe:hover .card__btn {
  background: var(--clr-primary);
  color: white;
}

/* END STYLE CARD RECIPES PAGE */

/* ///////////////// END RECIPES PAGE ///////////////// */


/* /////////////////SHOW PAGE STYLES////////////// */

.div-buttons-details{
  width: 100wh;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  margin: 20px;
}

.details-recipe{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
  align-content: space-around;
  padding: 10px;
}

.showimage img{
  width: 500px;
  height: 500px;
}

.details-card{
width: 100%;
margin: 5px;
}

.div-details{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 10px;
}

@media(max-width: 760px){
  .div-buttons-details{
    width: 100wh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    margin: 20px;
  }
}

@media(min-width: 1070px){
  .details-recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
  };
  .showimage img{
    padding: 5px;
  }
  .details-card{
    width: 40%;
    margin: 5px;
    border-left: 1px solid grey;
  };
  .div-buttons-details a{
    width: 80px;
    height: 30px;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    text-decoration: none;
    color: white;
  }
};

/* ////////////////END SHOW PAGE STYLES////////////// */

/* ///////////////DASHBOARD STYLES/////////////////// */

.dashboard-section{
  width: 100%;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
} /*No eliminar*/

.new-recipes-dashboard{
  color: black;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start; 
  align-items: center; 
  align-content: flex-start; 
}

.new-recipes-dashboard p {
  font-size: xx-large;
  font-weight: bold;
  padding-top: 20px;
}
.new-recipes-dashboard img{
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.dashboard-favourite{
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  height: 150px;
  background-color: seagreen;
}

.create-dashboard{
  color: black;
    margin-top: 15px;
    min-width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    align-items: center; 
    align-content: flex-start;
    text-align: center;
    font-size: x-large;
}

.create-dashboard h2 {
  font-size: xx-large;
  font-weight: bold;
}

.background-dashboard{
  background-image: url('https://i.pinimg.com/736x/94/4f/a4/944fa48d9947de0fe9d3e428ec66e99e.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media(min-width: 600px){

  .new-recipes-dashboard{
    color: black;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    align-items: center; 
    align-content: flex-start; 
  }

  .create-dashboard{
    color: black;
      margin-top: 15px;
      min-width: 360px;
      height: 300px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start; 
      align-items: center; 
      align-content: flex-start;
      text-align: center;
      font-size: x-large;
  }

  .new-recipes-dashboard p {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 20px;
  }
  .new-recipes-dashboard img{
    border-radius: 50%;
    width: 125px;
    height: 125px;
  }
}
/* STYLE EDIT PROFILE PAGE */

.profile-edit{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
  align-content: center;
  text-align: center;
  background-image: url('https://i.pinimg.com/736x/94/4f/a4/944fa48d9947de0fe9d3e428ec66e99e.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.profile-edit div:last-child{
  margin: 10px;
}

.profile-edit input{
  margin: 10px;
}

.profile-edit h1{
  font-size: 40px;
}

.profile-edit button{
  margin: 10px;
}

.profile-edit img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


/* END STYLE EDIT PROFILE PAGE */


/* ////////////////////FOOTER WEB///////////////////// */

/* CSS OF THE FOOTER OF ALL THE PAGES ON THE WEB */
footer {
  max-height: 3000px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
  bottom: 0;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 5px 50px;

}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 40%;
}
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
.footer-distributed h3 span {
  color: #5383d3;
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
  ;
}
.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 55px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  margin-right: 3px;
}

@media (max-width: 880px) {
  .footer-distributed {
      font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
  .main {
      line-height: normal;
      font-size: auto;
  }
}

@media (max-width: 1024px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
/* END OF CSS OF FOOTER */

/* //////////////////////////////////// CARROUSEL 1 ////////////////////////////////////////////// */

@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

 .page-content {
	 display: grid;
	 grid-gap: 1rem;
	 margin: 5px auto;
	 font-family: var(--font-sans);
}
 @media (min-width: 600px) {
	 .page-content {
		 grid-template-columns: repeat(2, 1fr);
	}
}
 @media (min-width: 800px) {
	 .page-content {
		 grid-template-columns: repeat(4, 1fr);
	}
}
 .card {
	 position: relative;
	 display: flex;
	 align-items: flex-end;
	 overflow: hidden;
	 padding: 1rem;
	 width: 100wh;
	 text-align: center;
	 color: whitesmoke;
	 background-color: whitesmoke;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 600px) {
	 .card {
		 height: 350px;
	}
}
 .card:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: 0 0;
	 transition: transform calc(var(--d) * 1.5) var(--e);
	 pointer-events: none;
}
 .card:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 200%;
	 pointer-events: none;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	 transform: translateY(-50%);
	 transition: transform calc(var(--d) * 2) var(--e);
}
 .card:nth-child(1):before {
	 background-image: url(https://content-recetas.lecturas.com/medio/2019/02/06/entrantes_llenos_de_colorido_4848f0c5_800x800.jpg);
}
 .card:nth-child(2):before {
	 background-image: url(https://www.lg.com/ar/images/microsite/cookbook-macaroni/Macaroni_Macaroni_M.jpg);
}
 .card:nth-child(3):before {
	 background-image: url(https://live.mrf.io/statics/i/ps/www.cocinacaserayfacil.net/wp-content/uploads/2020/05/Bacalao-al-pil-pil-519x630.jpg);
}
 .card:nth-child(4):before {
	 background-image: url(https://res.cloudinary.com/dmkhzosvq/image/upload/v1604501095/recipes/Sin_t%C3%ADtulo_e2vkgj.png);
}
 .content {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 padding: 1rem;
	 transition: transform var(--d) var(--e);
	 z-index: 1;
}
 .content > * + * {
	 margin-top: 1rem;
}
 .title {
	 font-size: 1.3rem;
	 font-weight: bold;
	 line-height: 1.2;
}
 .copy {
	 font-family: var(--font-serif);
	 font-size: 1.125rem;
	 font-style: italic;
	 line-height: 1.35;
}
 .btn {
	 cursor: pointer;
	 margin-top: 1.5rem;
	 padding: 0.75rem 1.5rem;
	 font-size: 0.65rem;
	 font-weight: bold;
	 letter-spacing: 0.025rem;
	 text-transform: uppercase;
	 color: white;
	 background-color: black;
	 border: none;
}
 .btn:hover {
	 background-color: #0d0d0d;
}
 .btn:focus {
	 outline: 1px dashed yellow;
	 outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
	 .card:after {
		 transform: translateY(0);
	}
	 .content {
		 transform: translateY(calc(100% - 4.5rem));
	}
	 .content > *:not(.title) {
		 opacity: 0;
		 transform: translateY(1rem);
		 transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	 .card:hover, .card:focus-within {
		 align-items: center;
	}
	 .card:hover:before, .card:focus-within:before {
		 transform: translateY(-4%);
	}
	 .card:hover:after, .card:focus-within:after {
		 transform: translateY(-50%);
	}
	 .card:hover .content, .card:focus-within .content {
		 transform: translateY(0);
	}
	 .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
		 opacity: 1;
		 transform: translateY(0);
		 transition-delay: calc(var(--d) / 8);
	}
	 .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
		 transition-duration: 0s;
	}
};

/* /////////////////////////// CARROUSEL 2 FINAL HOME PRUEBA ///////////////////////////////// */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*, *:before, *:after {
  box-sizing: border-box;
}

.slider {
  height: 600px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  background-image: url('https://s3-us-west-2.amazonaws.com/lasaga-blog/media/images/grupo_imagen.original.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
  color: #2196F3;
}
.slider__caption {
  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/* ////////////////////////////PRUEBAAAAA//////////////////////////// */

aside.context {
  text-align: left;
  text-transform: none;
  padding-right: 20px;
  color: #333;
}
aside.context a {
  text-decoration: none;
  color: #333;
  padding: 3px 0;
  border-bottom: 1px dashed;
}
aside.context a:hover {
  border-bottom: 1px solid;
}
/* footer {
  text-align: center;
  width: 100%;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #333;
  color: #333;
  margin: 0 3px;
}
footer a:hover {
  background: rgba(0, 0, 0, 0.05);
}
footer a .icons {
  margin-top: 8px;
  display: inline-block;
  font-size: 14px;
} */
.main-content {
  display: grid;
  grid-template-areas: "navigation pie-recipe pie-image" "context context pie-image";
  grid-template-columns: min-content auto 35%;
  grid-template-rows: auto min-content;
  margin: 20px;
  min-height: 100vh;
  max-height: calc(100% - 4em);
  background: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}
.context__wrapper {
  grid-area: context;
  background: #f7f7f7;
  color: #333;
  padding: 15px 20px;
  font: 400 10px "Raleway", sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: auto max-content;
}
.navigation {
  grid-area: navigation;
  border-right: 1px solid #eee;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #dbc7b1;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px;
  font: 16px "Playfair Display", serif;
  text-align: center;
}
.pie-image img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100wh;

}
.pie-name {
  font: 900 45px Raleway;
  text-transform: uppercase;
  margin: 20px 0 5px;
  letter-spacing: 2px;
  color: #916953;
  position: relative;
}
.pie-serving {
  font: 400 16px Raleway;
  color: #916953;
  margin: 20px 0;
  max-width: 300px;
}
.pie-serving svg {
  width: 40px;
}
.pie-serving svg path {
  fill: #916953;
}
.pie-serving p {
  display: inline-block;
  vertical-align: top;
  margin: 12px 6px 6px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #dbc7b1;
}
::-webkit-scrollbar-thumb:hover {
  background: #d69762;
}
.pie-recipe {
  grid-area: pie-recipe;
  color: #999;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 5px;
  max-height: 100%;
  padding: 50px 60px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30px auto;
  grid-template-rows: repeat(4, max-content);
  line-height: 1.6;
  height: 100%;
}
.pie-recipe__title {
  grid-column: span 2;
}
.pie-recipe__ingredients {
  grid-column: span 2;
  display: flex;
  flex-wrap: wrap;
}
.pie-recipe__ingredients__item {
  flex: 1;
  padding: 0 40px 0 0;
}
.pie-recipe__ingredients__item h4 {
  font: italic 18.1818181818px "Playfair Display", serif;
  color: #d69762;
  margin: 0 0 10px;
  margin-top: 30px;
}
.pie-recipe__ingredients__item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pie-recipe__ingredients__item ul li {
  padding: 5px 0;
}
.pie-recipe__number {
  font: italic 30px "Playfair Display", serif;
  color: #d69762;
  place-self: center;
  margin-top: -15px;
}
.pie-recipe__steps {
  padding-right: 35px;
}
.pie-recipe__subtitle {
  font: italic 30px "Playfair Display", serif;
  color: #916953;
  margin: 45px 0 10px;
  grid-column: span 2;
}
.pie-recipe__tips {
  grid-column: span 2;
  margin-top: 65px;
  position: relative;
  border: 2px solid #916953;
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #916953;
  text-align: center;
  padding: 35px;
}
.pie-recipe__tips svg {
  display: inline-block;
  padding: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -40px;
  width: auto;
  background: #fff;
  width: 60px;
  fill: #916953;
}
.pie-recipe__tips h4 {
  font: 900 24px Raleway;
  text-transform: uppercase;
  margin: 10px 0 15px;
  color: #543b2e;
}
@media screen and (max-width: 768px) {
  .main-content {
    margin: 0;
    max-height: none;
    grid-template-areas: "pie-image" "pie-recipe" "context";
    grid-template-columns: auto;
    grid-template-rows: 300px auto max-content;
 }
  .navigation {
    display: none;
 }
  .pie-image {
    height: 300px;
    width: 100%;
 }
 .pie-image img{
  height: 300px;
  width: 100wh;
}
  .pie-recipe {
    padding: 25px;
  }
    .title {
      margin: 0;
      text-align: center;
   }
    .pie-serving {
      margin: 20px auto;
   }
 }


